<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout_default}">

<head>
<title>디테일</title>
</head>

<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="script">
	<script defer type="text/javascript" th:src="@{js/notice.js}"></script>
</th:block>

<div layout:fragment="content">
	<div>
		<a href="/board/list?category=${requestScope.data.category}">리스트로
			돌아가기</a>
	</div>
	<div>
		<div th:if="${session.loginUser.userPk == session.data.userPk}">
			<a
				href="/board/edit?category=${session.data.category}&boardPk=${session.data.boardPk}">
				<button>수정</button>
			</a>
			<button id="btnDel">삭제</button>
			<div></div>

			<div id="data" data-loginuserpk="${session.loginUser.userPk}"
				data-pk="${session.data.boardPk}"
				data-category="${session.data.category}">
				<div>번호 : ${requestScope.data.seq}</div>
				<div>조회수 : ${requestScope.data.hits}</div>
				<div>제목 : ${requestScope.data.title}</div>
				<div>작성 일시 : ${requestScope.data.regDt}</div>
				<div>작성자 : ${requestScope.data.writerNm}</div>
				<div>내용 : ${requestScope.data.ctnt}</div>
			</div>

			<div th:if="${session.loginUser != null}">
				<div>
					<h4>댓글쓰기</h4>
					<form id="cmtFrm" onsubmit="return false;">
						<input type="text" name="ctnt" placeholder="내용"> <input
							type="button" name="btn" value="댓글등록">
					</form>
				</div>

				<div id="modal" class="hide">
					<div class="modal-content">
						<span id="modClose">X</span> <input type="text" id="modCtnt">
						<input type="button" id="modBtn" value="수정">
					</div>
				</div>

			</div>


			<div id="cmtList"></div>
		</div>
	</div>
</div>
</html>