<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout_default}">

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" th:href="@{css/bet/bettingroom.css}">
</th:block>

<th:block layout:fragment="script">
	<script defer type="text/javascript" th:src="@{js/bet/bettingroom.js}"></script>
</th:block>

<div layout:fragment="content" class="pagew">
	<div th:value="${param.id}" class="bettingroom_container">
		<div class="matchcontainer">
		<div class="leftContainer" >
			<div class="lTeam"></div>
			<div class="recent-history">
				<div class="recent-title">최근전적</div>
				<div class="recent-record" id="lrecord">

				</div>
			</div>
		</div>
		<div class="empty">
		</div>
		<div class="rightContainer">
			<div class="rTeam"></div>
			<div class="recent-history">
				<div class="recent-title">최근전적</div>
				<div class="recent-record" id="rrecord">
					<!-- w는 파랑, l은 빨강, d는 회색 -->
				</div>
			</div>
		</div>
		</div>
		<div class="betstatus">
			<!-- 위치를 예쁘게 만들고 수정해야함 -->
			<form id="betFrm">
				<input type="hidden" id="userp" th:if="${session.loginUser != null}" th:value="${session.loginUser.userPk}">
				<div class="betmanage">
				<div class="betchoice_box">
				<span><input th:if="${session.loginUser != null && bet == null}" class="betchoice" type="radio" name="chk_info" value="0">승(1.66)</span>
				<span><input th:if="${session.loginUser != null && bet == null}" class="betchoice" type="radio" name="chk_info" value="1">무(2.50)</span>
				<span><input th:if="${session.loginUser != null && bet == null}" class="betchoice" type="radio" name="chk_info" value="2">패(5.00)</span>
   				</div>
	   				<input th:if="${session.loginUser != null && bet == null}" class="dobetting" type="text" name="property">
	   				<input th:if="${session.loginUser != null && bet == null}" id="buttons" type="button" value="베팅하기">
   				</div>
   				<div class="needlogin"><a href="/login" th:unless="${session.loginUser != null}">로그인 후 이용 가능합니다.</a></div>
   			</form>
		</div>
	</div>
</div>
</html>