<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout_default}">

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="css/bet/endbettingroom.css">
</th:block>

<th:block layout:fragment="script">
	<script defer type="text/javascript" th:src="@{js/bet/endbettingroom.js}"></script>
</th:block>

<div layout:fragment="content" class="pagew_1600">
	<div class="container">
		<div th:value="${param.id}"  class="playcontainer">
		<div class="date"></div>
		<div class="stadium"></div>
		<div class="minicontainer">
			<div class="left-information">
			</div>
			<div class="leftContainer"></div>
			<div class="lscore"></div>
			<div class="semicolon">:</div>
			<div class="rscore"></div>
			<div class="rightContainer"></div>
			<div class="right-information">
			</div>
		</div>
		</div>
		<div class="betcontainer">
			<div class="betgraph">
				<!-- 가변적으로 %값에 따라 width 변화함-->
				<!-- 경기결과 값에 따라서 해당 bar에 하이라이트 -->
				<!-- 로그인 시 자신이 선택한 bar 알려줌 (checkBox) -->
				<div class="horizontalbar">
					<div class="share_1">승</div>
				</div>
				<div class="horizontalbar">
					<div class="share_2">무</div>
				</div>
				<div class="horizontalbar">
					<div class="share_3">패</div>
				</div>
			</div>
			<div class="allocation">
			</div>
		</div>
	</div>
</div>
</html>