<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout_default}">

<head>
<title>마이페이지</title>
</head>

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="css/mypage.css">
</th:block>

<th:block layout:fragment="script">
	<script defer type="text/javascript" th:src="@{js/mypage.js}"></script>
</th:block>

<div class="tab_basic" layout:fragment="content" th:if="${session.loginUser != null}">
	<div class="tab_list_wrap">
		<div class="tab_list tab_active" data-tabnum="0">
			<a href="#">베팅 내역</a>
		</div>
		<div class="tab_list" data-tabnum="1">
			<a href="#">회원 정보</a>
		</div>
	</div>

	<div class="tab_container">
		<div class="tab_content">
			<table>
				<thead>
					<tr>
						<th>경기 날짜</th>
						<th>베팅 결과</th>
						<th>경기 결과</th>
						<th>나의 선택</th>
						<th>베팅 금액</th>
					</tr>
				</thead>
			</table>
		</div>
	
		<div class="tab_content">
			<div>이메일 : <span th:text="${session.loginUser.userEmail}"></span></div>
			<div>닉네임 : <span th:text="${session.loginUser.nickname}"></span></div>
			<div>가입일 : <span th:text="${session.loginUser.regDt}"></span></div>
			<a href="/pwchange">정보 수정하기</a>
		</div>

	</div>
</div>
</html>