<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="~{layout/layout_default_nowrap}">

<head>
    <title>Team Statistics</title>
</head>

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css"  th:href="@{css/teams.css}">
</th:block>

<th:block layout:fragment="script">
	<script defer type="text/javascript" th:src="@{js/sorttable.js}"></script>
	<script defer type="text/javascript" th:src="@{js/teamstat.js}"></script>
</th:block>

<div id = "team_table" layout:fragment="content"></div>

</html>