<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="~{layout/layout_default}">

<head>
    <title>로그인</title>
</head>

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="css/user/sign.css">
</th:block>

<th:block layout:fragment="script">
	<script defer type="text/javascript" th:src="@{js/user/login.js}"></script>
</th:block>

<div th:if="${session.loginUser == null}">
		<div layout:fragment="content">
		    <!-- wrap -->
		    <div class="wrap">
		        <!-- login -->
				<div class="login_wrap">
					<div class="login_form">
						<span>login</span>
							<form id="form">
								<div class="txt_field">
									<input type="text" name="userEmail" required> <label>ID
										(e-mail)</label>
								</div>
								<div class="txt_field">
									<input type="password" name="userPw" required> <label>Password</label>
								</div>
								<input type="button" name="signIn" value="login" id="loginBtn">
								<div class="fg_pw"><a href="/findpw">Forgot your password?</a></div>
								<div class="signup_link">
									Not a member?<a href="/join">Sign Up</a>
								</div>
							</form>
					</div>
				</div>
		    </div>
		</div>
</div>

</html>