@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

.bet_container {
    position: relative;
    display: block;
    flex: 1;
    padding: 30px;
    min-height: 768px;
}

.Schedule-notification {
	position: relative;
    display: flex;
    height: 75px;
    width: 100%;
}

.stream,
.finish {
	position: relative;
	display: block;
    border: 1px solid #ccc;
    height: 100%;
    font-size: 20px;
    flex-grow: 1;
    text-align: center;
    line-height: 75px;

}

.stream a,
.finish a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.stream {
	background-color: #333;
	color: #fff;
}

.stream a {
	color: #fff;
}

.box {
	position: relative;
	display: block;
	height: 150px;
}

.box a {
	position: relative;
	display: flex;
	justify-content: space-between;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 100%;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    margin: auto;
    font-size: 25px;
    line-height: 150px;
}

.lTeam,
.rTeam {
	position: relative;
	display: block;
	flex: 3;
    width: 40%;
    height: 100%;
    border-bottom: 1px solid #ccc;
}

.lTeam {
	border-right: 1px solid #ccc;
}

.rTeamlogo {
	border-left: 1px solid #ccc;
}

.teamlogo {
	width: 66%;
	height: 70%;
}

.CenterSpan {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around; 
	flex: 3;
	width: 100%;
	border-bottom: 1px solid #ccc;
	font-size: 20px;
	font-family: 'Nanum Gothic', sans-serif;
}

.CenterSpan span {
	display:inline;
	line-height:normal;
}

.lTeamlogo,
.rTeamlogo {
	position :relative;
	display: block;
	flex:1;
	border-bottom: 1px solid #ccc;
}

.text {
	font-size: 40px;
}

.play::after {
	display: block;
    margin: 0 10px;
    font-size: 17px;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    content: 'play';
    color: #90EE90;
}

.expected::after {
	display: block;
    margin: 0 10px;
    font-size: 17px;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    content: 'expected';
    color: #87CEFA;
}