.container {
	position: relative;
	width: 100%;
	height: 100%;
	flex-direction: column;
	display: flex;
}

.playcontainer {
	display: flex;
	flex-direction: column;
	margin: 20px 0 20px 0;
	flex: 2;
}
.date {
	flex-grow: 1;
	display: flex;
	font-size: 20px;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: #F08080;
}

.stadium {
	flex-grow: 1;
	display: flex;
	font-size: 20px;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: #F08080;
}

.minicontainer {
	flex-grow: 8;
	display: flex;
	flex-direction: row;
}

.left-information,
.right-information {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	font-size: 10px;
}

.leftContainer,
.rightContainer {
	position: relative;
	display: block;
	flex-direction: column;
	flex-grow: 1;
	text-align: center;
	vertical-align: middle;
}

.leftContainercolorblue,
.leftContainercolorgray,
.leftContainercolorred,
.rightContainercolorblue,
.rightContainercolorgray,
.rightContainercolorred {
	position: relative;
	display: block;
	flex-direction: column;
	flex-grow: 1;
	text-align: center;
	vertical-align: middle;
}

.leftContainercolorblue,
.rightContainercolorblue {
	background-color: #6495ED;
}

.leftContainercolorgray,
.rightContainercolorgray {
	background-color: #D3D3D3;
}

.leftContainercolorred,
.rightContainercolorred {
	background-color: #DC143C;
}

.leftContainer > span,
.rightContainer > span,
.leftContainercolorblue > span,
.leftContainercolorgray > span,
.leftContainercolorred > span,
.rightContainercolorblue > span,
.rightContainercolorgray > span,
.rightContainercolorred > span {
	display: block;
	font-size: 30px;
}

.leftContainer > img,
.rightContainer > img,
.leftContainercolorblue > img,
.leftContainercolorgray > img,
.leftContainercolorred > img,
.rightContainercolorblue > img,
.rightContainercolorgray > img,
.rightContainercolorred > img {
	position: relative;
	display: inline-block;
 	width: 57%;
 	height: 90%;
}

.lscore,
.rscore {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	color: #F08080;
	font-size: 95px;
	justify-content: center;
	align-items: center;
}

.semicolon {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	font-size: 50px;
	justify-content: center;
	align-items: center;
	color: #F08080;
}

.right-information ul,
.left-information ul {
	height: 100%;
	width: 100%;
	font-size: 25px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.right-information li,
.left-information li {
	height: 10%;
	width: 100%;
	margin-bottom: 10px;
}

.betcontainer {
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 1px solid #ccc;
	flex: 1;
	display:flex;
	flex-direction:row;
}

.betgraph {
	flex: 5;
	display: flex;
	flex-direction:column;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.horizontalbar {
	flex: 1;
	display:flex;
	flex-direction: column;
	font-size: 20px;
	border-bottom: 1px solid #ccc;
}

.allocation {
	flex: 1;
	display: flex;
	flex-direction: column;
	font-size: 30px;
	border-right: 1px solid #ccc;
}

.horizontalbar_w,
.horizontalbar_d,
.horizontalbar_l {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #ccc;	
}

.share_1,
.share_2,
.share_3 {
	margin-top: 15px;
	height: 60%;
	background-color: gray;
}

.share_1change,
.share_2change,
.share_3change {
	margin-top: 15px;
	height: 60%;
	background-color: blue;
}