<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pgr.user.UserMapper">
	<insert id="insUser">
		INSERT INTO pgrUser
		( userEmail, userPw, nickname )
		VALUES
		( #{userEmail}, #{userPw}, #{nickname} )
	</insert>
	
	<select id="selUser" resultType="com.pgr.model.UserEntity">
		SELECT * FROM pgrUser
		WHERE userEmail = #{userEmail}
	</select>
	
	<select id="selTopUser" resultType="com.pgr.model.UserEntity">
		SELECT nickname, myProperty FROM pgrUser
		ORDER BY myProperty DESC
		LIMIT 3;
	</select>

	<update id="updateUserPassword">
		UPDATE pgrUser
		SET userPw = #{userPw}
		WHERE userEmail = #{userEmail}
	</update>

	<select id="findUserByUserId" resultType="com.pgr.model.UserEntity">
		SELECT userEmail, nickname FROM pgrUser
		WHERE userEmail = #{userEmail}
	</select>
	
	<update id="profileChange">
		UPDATE pgrUser
		SET nickname = #{nickname}, userPw = #{userPw} 
		WHERE userEmail = #{userEmail}
	</update>
	
	<update id="updProperty">
		UPDATE pgrUser
		SET myProperty = #{myProperty}
		WHERE userPk = #{userPk}
	</update>

</mapper>